@import url(https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap);

.avnendv-ad {
    position: fixed;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    font-family: "Vujahday Script", cursive;
    display: block !important;
    font-size: 20px;
    justify-content: center;
    background-color: rgba(255, 255, 255, .15);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    z-index: 1000
}

.avnendv-ad,
.avnendv-ad * {
    box-sizing: border-box
}

.avnendv-ad img {
    margin-top: 20px;
    width: 50px;
    display: inline-block
}

.avnendv-ad .hire-me,
.avnendv-ad div:first-child {
    text-align: center
}