#canvasSnow,
.den-long__group {
    position: absolute;
    top: 0;
    left: 0
}

* {
    position: relative;
    box-sizing: border-box
}

body,
html {
    height: 100%;
    margin: 0
}

body {
    overflow: hidden
}

#canvasSnow {
    z-index: 1000;
    pointer-events: none
}

.group__common {
    position: absolute
}

.group__common.dragon {
    width: 200px;
    bottom: -20px;
    left: 0;
    transform: rotateZ(10deg)
}

.group__common.tet_xum_vay {
    width: 400px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%)
}

.group__common img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    animation: 1s forwards zoomIn, 4s ease-in-out infinite floatImage
}

.den-long__group {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.den-long__group img {
    width: 250px
}

.den-long__group img:first-child {
    margin-left: -45px;
    animation: 1s forwards slideRight
}

.den-long__group img:nth-child(2) {
    margin-right: -45px;
    animation: 1s forwards slideLeft
}

.centeredBox {
    margin-top: 30px;
    padding: 0 10px
}

.centeredBox pre {
    display: inline-block;
    background: linear-gradient(180deg, #fff 52.5%, rgba(255, 255, 255, .08) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 2.5rem
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes floatImage {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.15)
    }
}

@keyframes slideRight {
    0% {
        transform: rotateZ(180deg) rotateY(0) rotateX(180deg) translateX(-100px);
        opacity: 0
    }

    100% {
        transform: rotateZ(180deg) rotateY(0) rotateX(180deg) translateX(0);
        opacity: 1
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}